.center {
	text-align: center;
}

.left {
	text-align: left !important;
}

.right {
	text-align: right !important;
}

.inline {
	display: inline-block;
}

.middle {
  	vertical-align: middle;
}

.middle:hover{
    color: #FFD700;
}

.pointer {
    cursor: pointer;
}

#portofolio {
    outline: 2px dashed rgba(34, 34, 34, .1);
    margin-bottom: 1rem;
    width: 100%;
}

.spinner {
    z-index: 9;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.spinner > .spinner-dot {
    width: 15px;
    height: 15px;
    background: rgba(85, 85, 85, 0.5);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    -webkit-animation: bounce 1.4s infinite ease-in-out;
    -moz-animation: bounce 1.4s infinite ease-in-out;
    -o-animation: bounce 1.4s infinite ease-in-out;
    -ms-animation: bounce 1.4s infinite ease-in-out;
    animation: bounce 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
}
.spinner > .spinner-dot:nth-child(1) {
    -webkit-animation-delay: -.32s;
    -moz-animation-delay: -.32s;
    -o-animation-delay: -.32s;
    -ms-animation-delay: -.32s;
    animation-delay: -.32s
}
.spinner > .spinner-dot:nth-child(2) {
    -webkit-animation-delay: -.16s;
    -moz-animation-delay: -.16s;
    -o-animation-delay: -.16s;
    -ms-animation-delay: -.16s;
    animation-delay: -.16s
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 