html, body {
    font-family: 'Roboto', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

.shadow2p {
	background-color: white;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.10);
	border-bottom: 1px solid #E9E9E9;
}

.m-top1 {
	margin-top: 1rem;
}

.container.main {
  	padding-top: 15vh;
}

a:hover, a:focus {
	text-decoration: none;
}

/*Kipa-Image*/
.image-square img {
	height: 100%;
}

/*Kipa-Color*/
.no-color {
	background-color: transparent;
}

.white {
	background-color: rgba(255, 255, 255, .5);
	color: rgba(34, 34, 34, .5);
}

.transparent {
	background-color: transparent;
	color: rgba(27,54,100, 1);
}

.yellow {
	background-color: rgba(255, 235, 59, 1);
	color: #202020;
}

.yellow-dark {
	background-color: rgba(251, 192, 45, 1);
	color: white;
}

.yellow-light {
	background-color: ; 
	color: #202020;
}

.orange {
	background-color: rgba(254, 86, 33, 1);
	color: white;
}

.orange-dark {
	background-color: rgba(229, 73, 24, 1);
	color: white;
}

.orange-light {
	background-color: rgba(254, 203, 187, 1);
	color: #202020;
}

.green-dark {
	background-color: rgb(56,142,60);
	color: white;
}

.green {
	background-color: rgb(76,175,80);
	color: white;
}

.green-light {
	background-color: rgb(200,230,201);
	color: rgba(34, 34, 34, 1);
}

.grey {
	background-color: rgba(207,216,220, 1);
	color: rgba(33, 33, 33, 1);
}

.btn.grey, .btn-dark.grey {
	border-color: rgba(96,125,139, .3) !important;
}

.grey-dark {
	background-color: rgba(96,125,139, 1);
	color: white;
}

.btn.grey-dark, .btn-dark.grey-dark {
	border-color: rgba(34, 34, 34, .5) !important;
}

.grey-light {
	background-color: rgba(207,216,220, .5);
	color: rgba(33, 33, 33, 1);
}

.btn.grey-light, .btn-dark.grey-light {
	border-color: rgba(96,125,139, .2) !important;
}

.red {
	background-color: rgb(238,43,49);
	color: white;
}

.btn.red, .btn-dark.red {
	border-color: #C2272C !important;
}

.red-darken {
	background-color: rgb(111,20,23);
	color: white;
}

.red-dark {
	background-color: rgb(162,29,33);
	color: white;
}

.red-light {
	background-color: rgb(254,204,209);
	color: rgba(34, 34, 34, 1);
}

.blue {
	background-color: rgba(33, 150, 243, 1);
	color: white;
}

.btn-dark.blue {
	border-color: rgba(25, 118, 210, 1) !important;
}

.blue-darken {
	background-color: rgb(49,73,115);
	color: white;
}

.blue-dark {
	background-color: rgba(25, 118, 210, 1);
	color: rgba(187, 222, 251, 1);
}

.blue-light {
	background-color: rgba(178,228,251, 1);
	color: rgba(34, 34, 34, 1);
}

.lime {
	background-color: rgba(205, 220, 57, 1);
	color: rgba(34, 34, 34, 1);
}

.lime-dark {
	background-color: rgba(175, 180, 43, 1);
	color: rgba(240, 244, 195, 1);
}

.lime-light	{
	background-color: rgba(240, 244, 195, 1);
	color: rgba(34, 34, 34, 1);
}

.himo {
	background-color: rgb(253,201,164);
	color: rgb(34, 34, 34);
}

.btn.himo {
	border-color: rgb(240,171,149) !important;
}

.transparent {
	background-color: rgba(33, 33, 33, .05);
	border: .5px solid rgba(33, 33, 33, .5);
	color: rgba(33,33,33, 1);
}

.c-blue {
	color: rgb(33, 150, 243);
}

.c-grey {
	color: rgb(207,216,220);
}

.c-grey-dark {
	color: rgb(96,125,139);
}

.c-red {
	color: rgb(238,43,49);
}

.c-himo {
	color: rgb(253,201,164);
}

#beranda-slide {
  	height: 80vh;

}

#beranda-slide .carousel-inner {
  	height: 100%;
}

#beranda-slide .carousel-inner .item.active {
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 0s linear;
    transition-property: background-position;
}

#beranda-slide .carousel-caption {
    position: absolute;
    bottom: initial;
    top: 15vh; 
    padding: 0;
    z-index: 10;
    text-align: center;

    color: #fff;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

/*Kipa-Button*/
.btn, .btn-dark {
	opacity: .9;
	text-shadow: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.8rem;
	border-radius: 3px;
	border: .08em solid;
	border-bottom: .15em solid;
}

.btn-dark {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    /*border: 1px solid transparent;*/
}

.btn.focus, .btn:focus, .btn:hover {
  	opacity: 1;
	/*box-shadow: 0 0 5px rgba(0, 0, 0, .8);*/
}

.btn-dark.focus, .btn-dark:focus, .btn-dark:hover {
	color: white;
  	opacity: 1;
  	/*box-shadow: 0 0 5px rgba(0, 0, 0, .8);*/
}

.btn:active:focus, .btn:focus, .btn-dark:active:focus, .btn-dark:focus {
	outline: none;	
}

.btn-full {
	width: 100%;
}

.btn-half {
	width: 50%;
}

/*Kipa-Modals*/
.modal-content {
	border-radius: 6px;
	border: none;
	box-shadow: none;
}

.modal {
  text-align: center;
}

.modal.fadeIn {
  -webkit-animation-duration: .3s;
  -webkit-animation-delay: 0;
  -moz-animation-duration: .3s;
  -moz-animation-delay: 0;
  animation-duration: .3s;
  animation-delay: 0;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-footer {
	border: none;
	padding: 5px;
}

/*Kipa-Input*/
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {   
	border: 1px solid rgba(34, 34, 34, .1) !important;
	border-radius: 0 !important;
}

.has-error textarea,
.has-error input[type="text"],
.has-error input[type="password"],
.has-error input[type="datetime"],
.has-error input[type="datetime-local"],
.has-error input[type="date"],
.has-error input[type="month"],
.has-error input[type="time"],
.has-error input[type="week"],
.has-error input[type="number"],
.has-error input[type="email"],
.has-error input[type="url"],
.has-error input[type="search"],
.has-error input[type="tel"],
.has-error input[type="color"],
.has-error .uneditable-input {   
	border: 1px solid #C2272C !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
	border: 1px solid rgb(240,171,149) !important;
	box-shadow: none !important;
	outline: 0 none !important;
}

.has-error textarea:focus,
.has-error input[type="text"]:focus,
.has-error input[type="password"]:focus,
.has-error input[type="datetime"]:focus,
.has-error input[type="datetime-local"]:focus,
.has-error input[type="date"]:focus,
.has-error input[type="month"]:focus,
.has-error input[type="time"]:focus,
.has-error input[type="week"]:focus,
.has-error input[type="number"]:focus,
.has-error input[type="email"]:focus,
.has-error input[type="url"]:focus,
.has-error input[type="search"]:focus,
.has-error input[type="tel"]:focus,
.has-error input[type="color"]:focus,
.has-error .uneditable-input:focus {   
	border: 1px solid #C2272C !important;
	box-shadow: none !important;
	outline: 0 none !important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    /*margin: 10px;*/
	cursor: pointer;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*Kipa-FormError*/
.help-block {
	margin-bottom: 0;
	text-align: right;
}

.has-error .help-block {
	font-size: 1rem;
}

.help-block.info {
	font-weight: 500;
	font-size: 1.2rem;
	opacity: .7;
	padding: 0 .5rem;
}

/*Kipa-Dropdown*/
.dropdown-menu {
	border-radius: 0;
	min-width: 100%;
	border: none;
	padding: 0;
}

.dropdown-menu li a{
	padding: 1rem;
}

/*Kipa-Panel*/
.panel-himo {
	border-color: rgba(240,171,149, .3);
}
/**/
.panel-himo>.panel-heading {
	color: rgba(240,171,149, 1);
    background-color: rgba(253,201,164, .2);
	border-color: rgba(240,171,149, .3);
	font-family: 'Raleway', sans-serif;
	font-size: 3rem;
	font-weight: 200;
	padding: .5rem;
}

.panel-heading .material-icons {
	font-size: 42px;
}

